{% extends 'contribuez/base.html.twig' %}

{% block content %}
	<h1>Géographie</h1>
	<p>
		Cette section a pour but de permettre au lecteur de situer la localité à travers l’organisation de l’espace.
		Vous pouvez aborder ce thème à travers les notions de :
	</p>
	<ul>
		<li>Climat : Penser aux relevés météo</li>
		<li>Localisation : communes et mégalopole aux alentours, agglomération</li>
		<li>Géologie et relief : superficie, massif montagneux, etc.</li>
		<li>Hydrographie : cours d’eau (océans, mers, lacs), fleuves et rivières</li>
		<li>Voies de communication et de transports : voies ferroviaires, réseau autoroutier, pistes cyclables, réseau de bus, aéroport</li>
	</ul>
	<p>
		Vous pouvez comparer, observer telle section pour vous inspirer/Exemples d’articles de qualité, pour vous inspirer…
		Liens vers les articles WP.
	</p>
	<p>
		Vous avez des sources en votre possession ?
		Des relevés météos anciens ?
		Des vieilles photos ?
		des cartes ?
		Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia…
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


