{% extends 'contribuez/base.html.twig' %}

{% block content %}
	Page contribuez
{% endblock %}

{% block rightcol %}
	<table class="title"><tr><td><img src="{{ asset("img/tutoriel_white_48.png")}}" class="circle"/></td><td>Résumé du tutoriel</td></tr></table>
{% endblock %}


