{% extends 'contribuez/base.html.twig' %}

{% block content %}
	<h1>Politique & Administration</h1>
	<p>
		Cette section concerne la politique de la commune et les moyens mis en place sur le plan administratif :
	</p>
	<ul>
		<li>Tendances politiques</li>
		<li>Administration et organisation municipale : liste des maires et des élus, résultats des dernières élections, conseil des jeunes et/ou conseil des aînés, etc.</li>
		<li>Les actions prises par ces représentants : politique environnementale, jumelages, choix des investissements en fonction de la capacité d'autofinancement…</li>
		<li>Actions/engagements/ et politique environnementale</li>
		<li>Finances locales</li>
		<li>Jumelages</li>
	</ul>
	<p>
		Exemples d’articles de qualité, pour vous inspirer…
		Liens vers les articles WP
	</p>
	<p>
		Vous avez des sources en votre possession ? Des archives ? Des vieilles photos ? Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia…
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


