{% extends 'contribuez/base.html.twig' %}

{% block content %}
	<h1><img src="{{ asset("img/population_48.png")}}" class="circle"/>Population & Société</h1>
	<p>
		Combien d’habitants compte votre commune ?
		Quels sont les lieux qui touchent votre quotidien ?
	</p>
	<ul>
		<li>Écoles, collèges et lycées à travers la partie Enseignement</li>
		<li>La religion et ses lieux de Cultes</li>
		<li>Les cliniques/hôpitaux, Santé</li>
		<li>Les lieux et associations touchant aux Activités sportives</li>
		<li>Les médias (journal local, Radio locale, TV locale, etc.)</li>
		<li>Enfin, des informations concernant les manifestations culturelles et les festivités, par exemple : Quelles sont les fêtes traditionnelles dans votre commune ?</li>
	</ul>
	<p>
		Vous avez des sources en votre possession ?
		Des documents historiques ? Des livres anciens ?
		Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia… ou bien mettez les lien en bas de l’article.
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


