{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Associations </h1>
	<p><cite>« Diffuser nos contenus et nos découvertes sur Wikipédia leur permet de voyager à travers le monde »</cite></p>

	<p>
		Sociétés d’histoires locales, amis des musées, associations touristique…
		Les associations locales découvrent, grâce à leurs adhérents, les aspects parfois méconnus de la vie de nos ancêtres, la richesse du patrimoine et des cultures locales et se battent pour les préserver et les faire connaître.
		Ma Commune Wikipédia leur propose de les mettre en valeur en les partageant au plus grand nombre via les articles Wikipédia.

	</p>
{% endblock %}

