{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Collectivités territoriales</h1>

	<p><cite>« Wikipédia, outil de transformation numérique de nos communes françaises »</cite></p>

	<p>
		Pour maintenir et accroître la visibilité de nos communes françaises sur internet, Wikipédia est devenu en quelques années un incontournable.
		Savez-vous qu’un article Wikipédia peut être traduit en plus de 280 langues à travers le monde, amenant de fait une information fiable à la quasi totalité de la planète.  Or, près de 90 % de nos communes ne disposent pas d’un article Wikipédia de qualité avec des sources et des illustrations.</p>
	</p>
	<p>
		À l’heure du tout numérique et pour maintenir l’attractivité de nos territoires, Ma Commune Wikipédia propose d’accompagner les collectivités à valoriser les richesses du patrimoine local :
		mise en lumière des archives et des fonds photographiques, description de l’histoire locale et de ses atouts, illustrations de qualité…
		Autant d’éléments utiles à Wikipédia et générant une information.
		Le tout en développant en s’amusant et en développant de nouveaux liens avec les habitants et les acteurs des territoires. 
	</p>
	<p>
		Ensemble construisons des communes numériques ouvertes sur le monde !
	</p>
{% endblock %}

