{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Enseignants</h1>
	<p>
		L’encyclopédie libre est très présente dans l’univers numérique des élèves (selon nos études, plus de 80 % des adolescents la consulteraient lors de recherches documentaires).
		Mais Wikipédia peut également servir de lieu d’expérimentation favorable et de familiarisation avec les diverses pratiques du numérique.
		« Ma Commune Wikipédia » propose aux professeurs un ensemble d’actions à réaliser localement pour accompagner les élèves à s’approprier les outils, à participer aux partage de leurs connaissances sur la toile et à comprendre de l’intérieur la construction collective des savoirs.
		Il apparaît primordial de sortir les adolescents de l’aspect uniquement consommateur d’Internet et des réseaux sociaux en les encourageant à produire du contenu construit et validé par des correcteurs qui font autorité, vous.
	</p>
{% endblock %}

