{% extends 'agissez/base.html.twig' %}

{% block content %}
	Page agissez
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Action 1</h1>
		<h1>Action 2</h1>
		<h1>Action 3</h1>
	</div>
{% endblock %}


