{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Acteurs des territoires</h1>
	<p>
		Organiser des actions de contributions, recréer du lien avec les habitants et accompagnez les à se servir des outils numériques ou encore valoriser les richesses du patrimoine local.
	</p>
	<p>
		Nous vous indiquons la marche à suivre grâce à une série d’actions clés en main.
	</p>
{% endblock %}

