{% extends 'agissez/base.html.twig' %}

{% block content %}
	Page agissez
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
	</div>
{% endblock %}


