{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Institutions patrimoniales</h1>
	<p>
		<cite>
			« J’ai regardé combien de vues avait la page de la pierre de Rosette sur Wikipédia.
			Les gens consultent cinq fois plus sur la page de l’article Wikipédia que celle de notre site. »
		</cite>
		– Matthew Cock, British Museum
	</p>
	<p>
		Il y a de nombreuses façons différentes de collaborer avec les projets Wikimedia.
		Des partenariats ont été établis avec de grandes et de plus petites organisations patrimoniales et culturelles à travers le monde.
		Élargir le rayonnement de votre institution, préparer des contenus multilingues, ouvrir vos collections ou vos fonds à un public plus large, ou fournir des moyens de sauvegarder numériquement vos contenus…
		C’est ce que vous pouvez faire simplement, grâce à Ma Commune Wikipédia.
	</p>
<p>
	Jeux de données ouvertes, corpus iconographiques, archives sonores, expertises à partager :
	il y a autant de modes de contribution qu’il y a d’institutions prêtes à tenter l’aventure du partage et de la libre diffusion des savoirs.
	Lancez-vous : vous découvrirez l’enthousiasme et la passion de la communauté des bénévoles qui travaillent à enrichir Wikipédia et ses projets-frères, en mettant en valeur vos contenus !	</p>
{% endblock %}

