{% extends 'agissez/base.html.twig' %}

{% block content %}
	<h1>Lieux de médiation numérique</h1>
	<p><cite>
		« Internet c’est aussi et surtout comprendre ce qu’il se jour.
		C’est être acteur et non seulement consommateur »
	</cite></p>

	<p>
		Les lieux de médiation numérique jouent un rôle important dans l’e-inclusion.
		Mais quoi de mieux que de proposer des allers/retours entre le territoire et internet.
		Afin de toujours plus diversifier les activités liés au numérique, « Ma Commune Wikipédia » propose un ensemble d’actions à réaliser pour démultiplier les possibilités et lutter contre les inégalités d’usage.
		Par des actions en lien avec le territoire, les médiateurs numériques invitent les habitants à redécouvrir les richesses locales en réalisant des allers/retours <i>on line</i> et <i>off line</i>.
		Ainsi, en s’amusant et en contribuant, chacun découvre et devient acteur d’un des plus célèbre site au monde: Wikipédia.

	</p>
{% endblock %}

