[django]
secret_key=
debug=

[mysql]
port        = 3306
host        = localhost
database    = 
user        = 
password    = 

[frwiki]
user        = 
password    = 
endpoint    = https://fr.wikipedia.org/w/api.php
assertion   = user

[wikidatawiki]
user        = 
password    = 
endpoint    = https://www.wikidata.org/w/api.php
assertion   = user