[django]
secret_key=
debug=

[mysql]
port        = 
host        = 
database    = 
user        = 
password    = 

[frwiki]
user        = 
password    = 
endpoint    = 
assertion   = 

[wikidatawiki]
user        = 
password    = 
endpoint    = 
assertion   = 
