{% extends 'decrivez/base.html.twig' %}

{% block content %}
	<h1><img src="{{ asset("img/patrimoine_48.png")}}" class="circle"/>Culture locale & Patrimoine</h1>
	<p>
		Dans cette partie, vous pouvez répertorier ce qui fait la singularité de votre commune :
	</p>
	<ul>
		<li>Lieux et monuments : divers monuments historiques, ou lieu de vie (halles, arènes, mairie, etc.)</li>
		<li>Patrimoine culturel : matériel (paysage construit, architecture et urbanisme, objets d’art et mobilier) et immatériel (chants, costumes, danses, traditions gastronomiques, jeux, mythes, contes et légendes, petits métiers, témoignages, captation de techniques et de savoir-faire, documents écrits et d'archives, etc.).</li>
		<li>Patrimoine naturel : faune, flore, patrimoine géologique et paléontologique, etc.</li>
		<li>Personnalités liées à la commune : Artiste, philosophe, militant, etc.</li>
		<li>Héraldique, logotype et devise : blason, logo, visuel de la commune, etc.</li>
	</ul>
	<p>
		Vous avez des sources en votre possession ? 
		Des documents historiques ?
		Des livres anciens ?
		Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia…ou bien mettez les lien en bas de l’articleБ
	</p>
{% endblock %}

