{% extends 'decrivez/base.html.twig' %}

{% block content %}
	
	<h1><img src="{{ asset("img/economie_48.png")}}" class="circle"/>Économie</h1>
	<p>
		Aborder l’économie d’une commune, d’un bassin, permettra de compléter au maximum la vie d’une commune française.
		Vous pourrez aborder les revenus de la population et la fiscalité ainsi que l’emploi dans une deuxième partie (taux de chômage, taux d’activité, secteurs, etc.).
		Puis vous pouvez lister et renseigner les entreprises et les commerces à travers les différents secteurs (primaire/Agriculture; secondaire/Artisanat et Industrie; et tertiaire/activités de service).
	</p>
	<p>
		Vous avez des sources en votre possession ?
		Des documents historiques ?
		Des livres anciens ?
		Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia…
		ou bien mettez les lien en bas de l’article.
	</p>
{% endblock %}

