{% extends 'decrivez/base.html.twig' %}

{% block content %}


<h1><img src="{{ asset("img/histoire_48.png")}}" class="circle"/>Histoire</h1>
	<p>Quelle est l’Histoire de votre commune ? Suivez les différentes périodes historiques :</p>
	<ul>
		<li>Préhistoire</li>
		<li>Antiquité</li>
		<li>Moyen Age</li>
		<li>Temps modernes</li>
		<li>Révolution française et Empire</li>
		<li>Époque contemporaine</li>
	</ul>
	<p>
		Vous avez des sources en votre possession ? Des documents historiques ? Des livres anciens ? Et plus encore… 
		N’hésitez pas une seconde et versez les sur Wikipédia… ou bien mettez les lien en bas de l’article.
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


