{% extends 'decrivez/base.html.twig' %}

{% block content %}
	<h1>Décrivez</h1>

	<p>
		Les plans des articles Wikipédia relatifs aux communes sont normalisés.
		Ils abordent un ensemble de thématiques permettant à chacun d’entre nous, en fonction de nos passions, de contribuer à l’enrichissement de l’article et de partager nos connaissances avec le plus grand nombre.
		Dans chaque thématique, vous découvrirez les contenus, données et informations attendus par Wikipédia.
	</p>
	<h2>Vous n’avez jamais contribué sur la célèbre encyclopédie ?</h2>

	<p>
		Ne vous inquiétez pas, c’est très simple !
		Au sein de chaque thématique, nous vous proposons quelques tutoriels pour naviguer sereinement sur Wikipédia.
	</p>
	<p>
		Il ne nous reste plus qu’à vous souhaiter une bonne contribution.
	</p>
{% endblock %}

