{% extends 'decrivez/base.html.twig' %}

{% block content %}
	<p>Page decrivez</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
		<h1>Chapitre VIII</h1>
		<h1>Chapitre IX</h1>
	</div>
{% endblock %}


