{% extends 'decrivez/base.html.twig' %}

{% block content %}
	<h1><img src="{{ asset("img/toponymie_48.png")}}" class="circle"/>Toponymie</h1>
	<p>
		La toponymie permet d’étudier les noms propres désignant un lieu.
		Recherchez l’étymologie et la signification du nom de votre commune, mais aussi étudiez les rapports avec la langue parlée actuellement ou avec des langues disparues et leur impact sur les sociétés.
	</p>
	<p>
		Vous avez des sources en votre possession ?
		Des documents historiques ? Des vieux livres ? dictionnaire topographique ? Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia… ou bien mettez les liens en bas de l’article.
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


