{% extends 'decrivez/base.html.twig' %}

{% block content %}
	<h1><img src="{{ asset("img/urbanisme_48.png")}}" class="circle"/>Urbanisme</h1>
	<p>
		Quelle est la morphologie urbaine de votre commune (quartiers, hameaux, ilots) ?
		Quel est le nombre de logements dans votre commune ?
		Vous pourrez vous appuyer sur le plan local d’urbanisme de votre commune (PLU) et évoquer les projets d’aménagement, ainsi que les risques naturels et technologiques concernant les habitations.
	</p>
	<p>
		Vous avez des sources en votre possession ?
		Des anciens plans de ville ?
		Des vieilles photos des rues en noir et blancs ? Et plus encore…
		N’hésitez pas une seconde et versez les sur Wikipédia…
	</p>
{% endblock %}

{% block rightcol %}
	<div class="summary">
		<h1>Chapitre I</h1>
		<h1>Chapitre II</h1>
		<h1>Chapitre III</h1>
		<h1>Chapitre IV</h1>
		<h1>Chapitre V</h1>
		<h1>Chapitre VI</h1>
		<h1>Chapitre VII</h1>
	</div>
{% endblock %}


