<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Ma Commune Wikipédia{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen, projection, print" href="{{ asset('css/style.css') }}" />
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="topbar">
			<img class="logo" src="{{ asset('img/Logo_60-09.png') }}"/>
			<ul class="mainmenu">
				<li>Contribuez</li>
				<li>Illustrez</li>
				<li>Agissez</li>
				<li>Contact</li>
			</ul>
		</div>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
