{% extends 'base.html.twig' %}

{% block body %}
	<div class="home">
		<p>Veuillez préciser la recherche :</p>
		<ul>
		{% for commune in communes %}
			<li><a href="{{ path("communeShow", {"id": commune.getId() }) }}">{{ commune.getTitle() }} ({{ commune.getInsee() }})</a></li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}

