{% extends 'illustrez/base.html.twig' %}

{% block content %}
	<h1>Illustrez</h1>
	<p>
		Vos photos, vos archives personnels, vos sons et vos vidéos accompagnent les textes sur Wikipédia.
		Elles deviennent des informations visuelles indispensables à l’article et facilite la bonne compréhension des articles.
	</p>
	<h2>Alors, n’attendez pas !</h2>
	<p>
		Photographes amateurs ou professionnels, prenez en photos votre commune !
		Vidéastes, filmez votre commune, réalisez des clips et diffusez les !
		Journalistes, interviewez les personnages de votre commune !
	</p>
	<p>
		Vous n’avez jamais contribué sur la célèbre encyclopédie ?
		Ne vous inquiétez pas, c’est très simple !
		Nous vous proposons quelques tutoriels pour naviguer sereinement sur Wikipédia.
	</p>
	<p>
		Il ne nous reste plus qu’à vous souhaiter une bonne contribution. 
	</p>
{% endblock %}

