#stats-graph { font: 10px sans;}

#stats-graph path { 
    stroke: #3388ff;
    stroke-width: 2;
    fill: none;
}

#stats-graph .axis path,
#stats-graph .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}