{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Basic data on articles about French communes on Wikidata and the French Wikipedia">
    <meta name="author" content="Wikimédia France">
    <link rel="icon" href="{% static 'mc_frontend/img/favicon.png' %}">

    <title>Ma Commune Wikipédia</title>

    <link rel="stylesheet" href="{% static 'mc_frontend/lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/lib/leaflet-1.0.3.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/lib/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/css/map.css' %}">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'mc_frontend/img/logoheader_60.png' %}" width="200px" alt="Ma Commune Wikipédia" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <div class="input-group">
                <input type="text" placeholder="Commune" class="form-control" id="search-input">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              </div>
            </div>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>

    <div id="container" class="container">
      <noscript>
        <div class="alert alert-danger" role="alert">Ce site nécessite Javascript, merci de l'activer !</div>
      </noscript>
      {% bootstrap_messages %}

      {% block content %}
      {% endblock %}
    </div>

    <footer id="footer">
      <div class="container">
        <p class="text-muted">
          <div class="pull-right">
            <a class="navbar-brand" href="https://github.com/wikimedia-france/macommune">
              <img src="{% static 'mc_frontend/img/github.png' %}" height="50px" alt="Dépôt Github" />
            </a>
          </div>
          <a class="navbar-brand" href="https://www.wikimedia.fr">
            <img src="{% static 'mc_frontend/img/Logo_WMFr_noir_horizontal.png' %}" width="160px" alt="Wikimédia France" />
          </a>
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'mc_frontend/lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/leaflet-1.0.3.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/vue/vue.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/vue-simple-spinner/vue-simple-spinner.min.js' %}"></script>
    
    <script src="{% static 'mc_frontend/js/map.js' %}"></script>
    <script src="{% static 'mc_frontend/js/main.js' %}"></script>
  </body>
</html>
