{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Basic data on articles about French communes on Wikidata and the French Wikipedia">
    <meta name="author" content="Wikimédia France">
    <link rel="icon" href="{% static 'mc_frontend/img/favicon.png' %}">

    <title>Ma Commune Wikipédia</title>

    <link rel="stylesheet" href="{% static 'mc_frontend/lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/lib/leaflet-1.0.3.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/lib/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'mc_frontend/css/d3.css' %}">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'mc_frontend/img/logoheader_60.png' %}" width="200" alt="Ma Commune Wikipédia" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <div class="input-group">
                <input type="text" placeholder="Commune" class="form-control" id="search-input">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              </div>
            </div>
          </form>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </nav>

    <div id="container" class="container">
      <noscript>
        <div class="alert alert-danger" role="alert">Ce site nécessite Javascript, merci de l'activer !</div>
      </noscript>
      {% bootstrap_messages %}

      {% block content %}
      {% endblock %}
    </div>

    <footer id="footer">
      <div class="container">
        <div class="text-muted">
          <div class="pull-right">
            <a class="navbar-brand" href="https://framagit.org/wikimedia-france/macommune">
              <img src="{% static 'mc_frontend/img/gitlab.png' %}" height="50" alt="Dépôt Github">
            </a>
          </div>
          <a class="navbar-brand" href="https://www.wikimedia.fr">
            <img src="{% static 'mc_frontend/img/Logo_WMFr_noir_horizontal.png' %}" width="160" alt="Wikimédia France">
          </a>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'mc_frontend/lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/d3.v3.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/leaflet-1.0.3.min.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/vue/vue.js' %}"></script>
    <script src="{% static 'mc_frontend/lib/vue-simple-spinner/vue-simple-spinner.min.js' %}"></script>
    <script src="{% static 'mc_frontend/js/main.js' %}"></script>
    <script src="{% static 'mc_frontend/js/map.js' %}"></script>
    <script src="{% static 'mc_frontend/js/blocs.js' %}"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.wikimedia.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 14]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//analytics.wikimedia.fr/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
