{% extends 'mc_frontend/base.html' %}
{% block content %}

  <div id="mapselector"></div>
  <div id="app">
    {% verbatim %}
    <div id="home" class="page-header" v-show="visible">
      <center>HOME</center>
    </div>

    <div id="spinner" class="page-header hidden" v-show="visible">
      <vue-simple-spinner message="Chargement..." size="large"></vue-simple-spinner>
    </div>

    <div id="header-bloc" class="page-header hidden" v-show="visible">
      <h1 id="article-title">{{ wd_label }}</h1>
      <div style="float: right;">
        <ul>
          <li v-if="wp_url"><a v-bind:href="wp_url"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Wikipedia-favicon.png"> Wikipédia</a></li>
          <li v-if="com_url"><a v-bind:href="com_url"><img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Wikimedia_Commons_favicon.png"> Wikimedia Commons</a></li>
          <li><a v-bind:href="wd_url"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Wikidata-favicon.png"> Wikidata</a></li>
          <li v-if="wv_url"><a v-bind:href="wv_url"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Wikivoyage_favicon.svg/16px-Wikivoyage_favicon.svg.png"> Wikivoyage</a></li>
        </ul>
      </div>
      <div class="base-info">
        <ul>
          <li><i class="glyphicon glyphicon-time"></i> Dernière modification de la page : {{ updated }}</li>
          <li><i class="glyphicon glyphicon-text-width"></i> Taille de la page : {{wp_length }} octets</li>
          <li><i class="glyphicon glyphicon-user"></i> Nombre de contributeurs enregistrés : {{ nb_users }}</li>
          <li><i class="glyphicon glyphicon-user"></i> Nombre de contributeurs anonymes : {{ nb_anon }}</li>
        </ul>
      </div>
    </div>

    <ul class="timeline hidden">
      <li id="images-bloc" v-if="visible">
        <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
        <div class="timeline-panel illustrations-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Illustrations</h4>
          </div>
          <div class="timeline-body" v-if="images_in_commons">
            <p>
              <span v-if="images_number">L’article compte actuellement {{ images_number }} image{{ images_number_plural }}.</span>
              <span v-else>L’article ne comporte actuellement aucune image, alors que</span>
              {{ images_in_commons }} fichiers sont disponibles sur Wikimedia Commons, dont :
            </p>
            <div class="square-container">
              <a v-for="image in random_images" class="square" v-bind:style="{ 'background-image': 'url(' + image[ 1 ] + ')' }" v-bind:href="image[ 0 ]">
              </a>
            </div>
            <a class="btn btn-primary btn-lg btn-block square-bottom" v-bind:href="commons_category">Importer les vôtres !</a>
          </div>
          <div class="timeline-body" v-else>
            <p>Aucune image ne semble disponible pour cet article...</p>
            <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Image_manquante_2.svg/400px-Image_manquante_2.svg.png" width="400px"></center>
            <button type="button" class="btn btn-primary btn-lg btn-block">Importer les vôtres !</button>
          </div>
        </div>
      </li>
    </ul>
    {% endverbatim %}
  </div>
{% endblock content %}
