{% extends 'mc_frontend/base.html' %}
{% block content %}


  <div id="app">
    <div id="home" class="page-header" v-show="visible"> 
      <div id="welcome-text">
        <h1>Bienvenue sur Ma Commune Wikipédia !</h1>
        <p>
          Ce site vous permettra d'en savoir plus sur les informations présentes sur Wikipédia
          et ses projets-frères au sujet d'une commune française. Pour commencer, sélectionnez une commune à partir de la carte ci-dessous ou de la case de recherche.
        </p>

        <p>La base compte actuellement {{ number }} communes françaises (anciennes et actuelles), parmi lesquelles :</p>

        <ul>
          {% for e in examples %}
            <li>
              <a href="/{{ e.qid}}/{{ e.wp_title }}">{{ e.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <p>Pour plus d'explications sur le fonctionnement de l'outil, vous pouvez consulter la <a href="https://fr.wikipedia.org/wiki/Projet:Ma_Commune_Wikip%C3%A9dia">documentation sur Wikipédia</a>.</p>
      </div>
    </div>

    {% verbatim %}
    <div id="spinner" class="page-header hidden" v-show="visible">
      <vue-simple-spinner message="Chargement..." size="large"></vue-simple-spinner>
    </div>

    <div id="header-bloc" class="page-header hidden" v-show="visible">
      <div class="banner-image" v-bind:style="{ 'background-image': 'url(' + wv_banner + ')' }" v-if="wv_banner"></div>
      <div class="banner-image" id="banner-image-default" v-else></div>
      <div id="header-content">
        <h1 id="article-title">{{ wd_label }}</h1>
        <div style="float: right;">
          <ul>
            <li v-if="wp_url" class="project-link"><a v-bind:href="wp_url"><img src="/static/mc_frontend/img/wikipedia_favicon.png"> Wikipédia</a></li>
            <li v-if="com_url" class="project-link"><a v-bind:href="com_url"><img src="/static/mc_frontend/img/wikimedia_commons_favicon.png"> Wikimedia Commons</a></li>
            <li class="project-link"><a v-bind:href="wd_url"><img src="/static/mc_frontend/img/wikidata_favicon.png"> Wikidata</a></li>
            <li v-if="wv_url" class="project-link"><a v-bind:href="wv_url"><img src="/static/mc_frontend/img/wikivoyage_favicon.png"> Wikivoyage</a></li>
          </ul>
        </div>
        <div class="base-info">
          <ul>
            <li><i class="glyphicon glyphicon-time"></i> Dernière modification de la page : {{ wp_last_update }}</li>
            <li><i class="glyphicon glyphicon-text-width"></i> Taille de la page : {{wp_length }} octets</li>
            <li v-if="nb_users > -1"><i class="glyphicon glyphicon-user"></i> Nombre de contributeurs enregistrés : {{ nb_users }}</li>
            <li v-if="nb_anon > -1"><i class="glyphicon glyphicon-user"></i> Nombre de contributeurs anonymes : {{ nb_anon }}</li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="timeline hidden">

      <li id="images-bloc" v-if="visible">
        <div class="timeline-badge"><i class="glyphicon glyphicon-picture"></i></div>
        <div class="timeline-panel illustrations-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Illustrations</h4>
          </div>
          <div class="timeline-body" v-if="images_in_commons">
            <div class="images-number">
              <p>
                <span v-if="images_number">L’article compte actuellement {{ images_number }} image{{ images_number_plural }}, dont :</span>
                <span v-else>L’article ne comporte actuellement aucune image.</span>
              </p>
            </div>
            <div class="square-container">
              <a v-for="image in random_images" class="square" v-bind:style="{ 'background-image': 'url(' + image[ 1 ] + ')' }" v-bind:href="image[ 0 ]">
              </a>
            </div>
            <a class="btn btn-primary btn-lg btn-block square-bottom" v-bind:href="commons_category">Importer les vôtres !</a>
          </div>
          <div class="timeline-body" v-else>
            <p>Aucune image ne semble disponible pour cet article...</p>
            <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Image_manquante_2.svg/400px-Image_manquante_2.svg.png" width="400"></center>
            <button type="button" class="btn btn-primary btn-lg btn-block">Importer les vôtres !</button>
          </div>
        </div>
      </li>
    
      <li id="progress-bloc" v-if="visible">
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Avancement</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Dernière vérification de l’avancement il y a {{ lastUpdate }}.</small></p>
          </div>
          <div class="timeline-body">
            <div id="accordion" class="panel-group">
            
              <div class="panel panel-default" v-for="(section, key) in sections">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" v-bind:href="collapseId( section.title, true )">
                  <h3 class="panel-title">
                      <span v-bind:class="section.state.class"><i v-bind:class="section.icon"></i> <i class="icomoon icon-office"></i> {{ section.title }}</span>
                  </h3>
                  <p>{{ section.state.title }}</p>
                </div>

                <div v-bind:id="collapseId( section.title, false )" v-bind:class="collapseClasses( key )">
                  <div class="panel-body">
                    <p>{{ section.state.text }}</p>
                    <ul>
                      <li><a v-bind:href="collapseLink( section.link )">Conseils de rédaction pour la section {{ section.title }}</a>
                    </ul>
                    <p class="size-data" v-if="section.weight">Taille : {{ section.weight }} octets ({{ section.percentage }}% de la moyenne)</p>
                  </div>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </li>

      <li id="todo-bloc" v-if="visible">
        <div class="timeline-badge"><i class="glyphicon glyphicon-tasks"></i></div>
        <div class="timeline-panel illustrations-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Idées d'amélioration</h4>
          </div>
          <div class="timeline-body">
            <div v-html="list"></div>
            <p class="size-data"><a v-bind:href="link">Voir sur Wikipédia</a></p>
          </div>
        </div>
      </li>

      <li id="stats-bloc" v-if="visible">
        <div class="timeline-badge"><i class="glyphicon glyphicon-stats"> </i></div>
        <div class="timeline-panel illustrations-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title"> Nombre de visites par jour</h4>
          </div>
          <div class="timeline-body">
            <span id="stats-graph"></span>
            <p class="size-data"><a v-bind:href="stats_url">Voir les statistiques détaillées</a></p>
          </div>
        </div>
      </li>
    </ul>
    {% endverbatim %}

  </div>
  <div id="mapselector" class="page-header"></div>
{% endblock content %}
