@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(open_sans.woff) format('woff');
}

body {
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
	color: #747273;
	background-color: #dfdfdf;
	font-size: 11pt;
}

div.topbar a {
	text-decoration: none;
	color: inherit;
}

div.topbar {
	z-index: 9;
	position: relative;
	margin: 0;
	height: 70px;
	font-size: 14pt;
	box-shadow: 0px 0px 15px #444;
	border-bottom: 1px solid #544d33;
	background-color: #daad83;
	background-image: url(../img/banner_70.png);
	background-position: right center;
	background-repeat: no-repeat;
}

div.topbar img.logo {
	margin: 10px;
}

ul.mainmenu {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	display: table;
	height: 70px;
	padding: 0;
}

ul.mainmenu li:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
}

ul.mainmenu li {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	border: 1px none gray;
	list-style-type: none;
	margin: 0;
	padding: 15px 15px;
	font-variant: small-caps;
}

div.home {
	text-align: center;
	max-width: 600px;
	margin: 10px auto;
}

div.home p {
	margin: 20px;
}

div.home input.search {
	width: 300px;
	text-align: center;
}

div.home form {
	font-size: 12pt;
	font-weight: bold;
}

div.contact {
	text-align: center;
	margin: 10px auto;
}

div.contact div.info {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

div.contact fieldset {
	background-color: #dddddd;
	border: none;
	box-shadow: 0px 0px 15px #444;
}

div.contact legend {
	background-color: #739177;
	color: white;
	border: 1px solid white;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

div.contact div.svg {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

div.contact form th {
	font-size: 10pt;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

div.contact form td {
	text-align: left;
}

div.contact form td {
}

div.contact form textarea {
	width: 240px;
	height: 100px;
}


div.contact div.container {
	margin: 0 auto;
}

div.contact h1 {
	color: black;
	line-height: 48px
	height: 48px;
}

div.contact h1 img {
	vertical-align: middle; 
}

ul.suggest {
	position: absolute;
	background-color: white;
	border: 1px solid black;
	font-weight: normal;
	list-style-type: none;
	padding: 2px;
	color: black;
	margin: 0;
	text-align: left;
	font-size: 10pt;
}

ul.suggest li {
	padding: 2px;
	cursor: pointer;
}

ul.suggest li:hover {
	background-color: #ccf;
}

div.commune {
	margin: 5px auto;
	width: 1110px;
	padding: 0;
	display: table;
	border-collapse: separate;
}

div.commune div.col {
	padding: 10px;
	display: table-cell;
	width: 375px;
	margin: 0;
	vertical-align: middle;
}

div.commune div.col2 {
	vertical-align: top;
	width: 300px;
}

div.commune div.col2 input {
	width: 100%;
	text-align: center;
}

div.commune div.result {
	background-color: #dfd772;
	font-size: 16pt;
	padding: 15px;
	border-radius: 24px;
	text-align: center;
	color: #58595b;
	min-width: 200px;
	margin-top: 20px;
}

div.commune div.result span.title {
	font-weight: bold;
	font-size: 24pt;
}

div.commune div.result span.state {
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
}

div.commune div.result hr {
	height: 2px;
	border: 0;
	background-color: #58595b;
}

div.commune div.result span.pourcent {
	font-weight: bold;
	font-size: 35pt;

}

div.commune div.result hr.little {
	width: 45%;
}

div.commune table.categories td {
	font-size: 16pt;
	font-weight: bold;
	list-style-type: none;
	margin: 10px;
}

div.commune table.categories td.title {
	font-variant: small-caps;
}

div.commune div.col1 table.categories td.title {
	text-align: right;
}

div.commune table.categories td.pourcent {
	font-size: 24pt;
}

img.circle {
	margin: 0 10px;
	width: 50px;
	height: 50px;
	padding: 5px;
	border-radius: 31px;
	border: 3px solid black;
}

div.commune table.categories img.good {
	background-color: #5ac18a;
}

div.commune table.categories img.ok {
	background-color: #d7da55;
}

div.commune table.categories img.poor {
	background-color: #dbb138;
}

div.commune table.categories img.bad {
	background-color: #e75e3e;
}

div.footer {
	margin-top: 30px;
	padding: 15px;
	border-top: 1px solid #575757;
	background-color: #c9c9c9;
	min-height: 150px;
	text-align: center;
	font-size: 20pt;
}

div.footer ul {
	display: table;
	margin: 0 auto;
	
}

div.footer li:hover {
	color: #fff;
	opacity: 0.8;
}

div.footer li {
	cursor: pointer;
	font-variant: small-caps;
	padding: 20px;
	display: table-cell;
	list-style-type: none;
}

div.footer li p {
	margin: 0;
}

div.footer img.circle {
	background-color: #94bc7d;
}

p.error {
	font-weight: bold;
	border: 1px solid black;
	padding: 10px;
	background-color: #fff;
	color: #9a0000;
}

div.collayout {
	display: table;
	width: 100%;
}

div.collayout div.col1 {
	vertical-align: top;
	display: table-cell;
	z-index: 8;
	color: #fff;
	text-transform: uppercase;
	font-size: 12pt;
	font-weight: bold;
	width: 300px;
	background-color: #c8ad92;
	box-shadow: 0px 0px 15px #444;
}

div.collayout div.col1 a {
	text-decoration: none;
	color: inherit;
}

div.collayout div.col1 table {
	margin: 10px;
	border-collapse: collapse;
	margin-top: 10px;
}

div.collayout div.col1 td {
	padding: 5px;
}

div.collayout div.col1 tr {
	border-bottom: 1px solid white;
}

div.collayout div.col1 tr:hover {
	background-color: #f0cfaf;
}

div.collayout div.col1 img.circle {
	border: 3px solid white;
}

div.collayout div.col2 {
	vertical-align: top;
	display: table-cell;
	margin-left: 300px;
	margin-right: 300px;
	padding: 20px;
	color: #3c3c3c;
}

div.collayout div.col2 h1 {
	margin: 5px 0 0 0;
}

div.collayout div.col2 h1 img {
	float: right;
}

div.collayout div.col3 {
	vertical-align: top;
	display: table-cell;
	z-index: 8;
	color: #fff;
	width: 300px;
	background-color: #33524a;
	box-shadow: 0px 0px 15px #444;
}

div.collayout div.col3 table.title {
	padding-top: 5px;	
	width: 100%;
	margin: 0;
	border-bottom: 1px solid white;
	background-color: #7dad97;
}

div.collayout div.col3 img.circle {
	border-color: white;
}

div.collayout div.col3 table.title td {
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13pt;
}

div.collayout div.col3 h1 {
	padding: 3px;
	margin: 0;
	font-size: 11pt;
	text-transform: uppercase;
	font-weight: bold;
}

div.collayout div.col3 div.summary {
	padding: 20px;
}
